/*center*/

.info {
    text-align: center;
    background: #3b4c54;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.info__title {
    margin-top: 25px;
    color: whitesmoke;
}

.info__text {
    font-size: 22px;
    color: gainsboro;
}