.mob {
    text-indent: 30px;
    margin-bottom: 25px;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.carousel-control-prev,
.carousel-control-next {
    filter: invert(100%);
}

p {
    text-align: justify;
    text-indent: 30px;
    padding: 20px;
}

.data {
    padding-top: 10px;
    background: #3b4c54;
    color: aliceblue;
    font-size: 22px;
}